@charset "UTF-8";

:root {
  /* 色 */
  --ink: #1A1A1A;        /* 文字・見出し */
  --ink-sb: #ffffff;     /* 白抜き文字 */
  --muted: #6E6E6E;      /* 補足の文字 */
  --line: #DDDCD8;       /* 線 */
  --bg-sub: #F2F2F0;     /* 薄いグレーの背景 */
  --accent: #23303F;     /* ボタン・アイコン */
  --bg-third: #ffffff;   /* 所々の背景白 */

  /* 余白 */
  --space-min: 8px;
  --space-min12: 12px;
  --space-mid: 16px;
  --space: 24px;         /* 基本の余白 */
  --space-section: 120px;/* セクション間 */
  --margin-top: 40px;

  /* サイズ */
  --content-width: 1180px;
  --header-height: 76px;
  --h2-header-font: 1.5rem;

}

/* common */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic", "メイリオ", sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: var( --ink);
}

img, svg {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 var(--space);
}

/* ヘッダー */

#header {
  height: var(--header-height);
  width: 100%;
  padding: 0 var(--space-min);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;
  background-color:var(--bg-third);
  border-bottom: 1px solid var(--line);
}

/* ハンバーガーメニュー */
.hamburger {
    display: none;
    border: none;
    background-color: #fff;
    width: 30px;
    height: 31px;
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 20;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    background-color: #333;
    width: 20px;
    height: 2px;
    position: absolute;
    left: 5px;
  }

  .hamburger span:nth-child(1) {
    top: 8px;
  }

  .hamburger span:nth-child(2) {
    top: 14px;
  }

   .hamburger span:nth-child(3) {
    top: 20px;
  }


.header_left a,
#category_menu a,
#header_scriptions a {
  display: block;
  line-height: 1; /* 行間の余白(半行分の隙間)をなくす */
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: var(--header-height);
}

.header_left {
  display: flex;
  align-items:end;
  flex: 1;
  margin: auto 0;
  /* width: 300px; */
}

.header_left a {
  margin: auto 0;
}

.header_left a img {
  display: block;
  width: 240px;
  margin: auto 0;
  padding: var(--space-min)
}

.header_left .search_button {
  padding: var(--space-min);
  width: 40px;
  height: 50px;
}

.header_left .search_button a,
.header_left .search_button a i {
  height: 100%;
  width: 100%;
}

.header_left .search_button i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* 親(.search_button)の高さいっぱいを使う場合 */
  cursor: pointer;
}

#category_menu {
  flex: 2;
  font-size: 0.75rem;
  margin: auto 0;
  padding: var(--space-min);
  height: 60px;
}

#category_menu ul {
  display: flex;
  justify-content: space-around;
  align-items:center;
  min-width: 350px;
  height: 100%;
  margin:0 auto;
}

#header_scriptions {
  flex: 1;
  margin: auto;
  padding: var(--space-min);
  height: 60px;
}

#header_scriptions ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

/* 検索ウィンドウ */

.search_window {
  width: 300px;
  height: 100vh;
  padding: 40px 16px;
  background-color: #fefefe;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 29;
  transform: translateX(-100%);     /* 画面外に飛ばしてる */
  transition: transform .3s;
  display: none; 
}



 .overlay_search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
  z-index: 28;
 }

.search_close {
    /* display: none; */
    border: none;
    background-color: #fff;
    width: 30px;
    height: 31px;
    position: fixed;
    top: 20px;
    left: 260px;
    z-index:30;
    cursor: pointer;
  }

   .search_close span {
    display: block;
    background-color: #333;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 40px;
    left: 5px;
  }

  .search_close span:nth-child(1) {
    top: 14px;
    transform: rotate(-45deg);
  }

  .search_close span:nth-child(2) {
    top: 14px;
    transform: rotate(45deg);
  }

  .seach_window-contents {
    padding-top: 40px;
  }

  #search_window-button {
    width: 100%;
    height: 48px;
    padding: 10px 0;
    display: flex;
    gap: 16px;
  }

  #search_window-button button {
    background: none;
    border: none;
    cursor: pointer;
  }


  #search_window-button i {
    font-size: 16px;
  }

  #search_window-button input {
    border-radius: 5px;
    font-size: 16px;
  }



 .search_window.active_search {
  transform: translateX(0%);
  display: block; 
 }

 .overlay_search.active_search {
  opacity: 1;
  visibility: visible;
}






/* ハンバーガーメニュー */

.hamburger-contents {
  width: 300px;
  height: 100vh;
  padding: 40px 16px;
  background-color: #fefefe;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  transform: translateX(-100%);   /* 画面外に飛ばしてる */
  transition: transform .3s;
  display: none;   /* 通常画面幅では消している */
 }

 .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
  z-index: 24; /* .hamburger-contents(25)より下、.hamburger(20)より上 */
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.hamburger_close {
    /* display: none; */
    border: none;
    background-color: #fff;
    width: 30px;
    height: 31px;
    position: fixed;
    top: 16px;
    left: 11px;
    z-index:30;
    cursor: pointer;
  }

   .hamburger_close span {
    display: block;
    background-color: #333;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 40px;
    left: 5px;
  }

  .hamburger_close span:nth-child(1) {
    top: 14px;
    transform: rotate(-45deg);
  }

  .hamburger_close span:nth-child(2) {
    top: 14px;
    transform: rotate(45deg);
  }

  .hamburger_search {
    padding-top: 40px;
  }

  #hamburger_search-button {
    width: 100%;
    height: 48px;
    padding: 10px 0;
    display: flex;
    gap: 16px;
  }

  #hamburger_search-button  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  #hamburger_search-button button i {
    font-size: 16px;
  }

  #hamburger_search-button input {
    border-radius: 5px;
    width: 200px;
 }

  #hamburger_category_menu {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid var(--line);
  }

 #hamburger_category_menu  ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
 }

 #hamburger_header_scriptions {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid var(--line);
 }

 #hamburger_header_scriptions ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
 }

  #hamburger_header_scriptions ul a {
    display: flex;
    gap: 16px;
  }

  .hamburger_legal {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid var(--line);
  }

/* メインビジュアル */

#main_contents {
  margin-top: var(--space-section);
}

#main_hero {
  width: 100%;
  height: 620px;
  background-image: url(../image/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#main_hero .main_visual_contents {
  background-color: var(--bg-third);
  padding: 16px 24px 0px 24px;
  position: absolute;
  width: clamp(372px, 38vw, 550px);
  height: 216px;
  left: 6.5%;
  bottom: 7.5%;
  opacity: 0.88; /* 白ボックスの透け方 */
}

.main_visual_contents h1 {
  font-size: 1.75rem;
  padding: var(--space-min) var(--space-min);
}

.main_visual_contents p {
  font-size: 0.75rem;
  margin: var(--space-mid);
}

/* mewArrival */

.new_arrival {
  width: 160px;
  height: 40px;
  margin-left: var(--space-min);
  background-color: var(--accent);
  position: absolute;
  bottom: 0;
}

.new_arrival a {
  color: var(--ink-sb);
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: var(--space-min);
}

#main_hero .scroll_button {
  margin-bottom: 8px;
  position: absolute;
  right: 100px;
  bottom: 16px;
  border-bottom: 2px solid var(--ink-sb);
}

#main_hero .scroll_button a {
  color: var(--ink-sb);
  font-size: 12px;
}

/* New Arrival */

#newArrival_box {
  margin-top: var(--space-section);
}

.newArrival_head {
  display: flex;
  justify-content: space-between;
}

.newArrival_title h2 {
font-size: var(--h2-header-font);
}

.newArrival_title p {
  color: var(--muted);
  font-size: 0.75rem;
}

.newArrival_box {
  margin-top: var(--margin-top);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space);
}

.newArrival_item {
  position: relative;
}

.newArrival_item h2 {
  font-size: 16px;
}

.newArrival_item p small {
  font-size: 12px;
  color: var(--muted);
}

.newArrival_item a img {
  height: 370px;
  object-fit: cover;

}

.newArrival_item .labels {
  padding: 4px;
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: var(--ink);
  width: 48px;
  height: 24px;
}

.newArrival_item .sale {
  padding: 4px;
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #9B3A2C;
  width: 48px;
  height: 24px;
}

/* カテゴリー */

#category {
  margin-top:var(--space-section);
}
.category_head h2 {
  font-size: var(--h2-header-font);
}

.category_head p {
  color: var(--muted);
  font-size: 0.75rem;
}

.category_box {
  margin-top: var(--margin-top);
  display: flex;
  flex-wrap:wrap;
  gap: var(--space);
}

.category_card {
  flex: 1;
}

.category_card a img {
  display: block;
  height: 390px;
  object-fit: cover;
  object-position: top;
}

.category_text {
  height: 100px;
  background-color: #aeaeae;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category_text h3 {
  font-size: 19px;
}

.category_text p {
  font-size: 12px;
}

/* feautre */

#feature {
  margin-top: var(--space-section);
  background-color: var(--bg-sub);
}

#feature .wrapper {
  padding-top: 48px;
  padding-bottom: 48px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
}

.feature_img {
  height:400px ;
}

.feature_img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature_text p {
  font-size: 12px;
  color: var(--muted);
}

.feature_text h2 {
  padding-top: var(--space);
  padding-bottom: var(--space);
  font-size: var(--h2-header-font);
}

.feature_button {
  width: 164px;
  height: 40px;
  margin-top: var(--space);
  padding: 8px auto;
  border: 1.5px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature_button a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* フッター */

#footer {
  margin-top: var(--space-section);
  background-color: var(--bg-sub);
}


.footer_logo img {
  width: 180px;
}

#footer_top {
  padding-top: 40px;
  padding-bottom: 9px;
}

.footer_top_flex {
  display: flex;
}


.addres address,
.nav_shop ,
.nav_guide ,
.nav_about {
  color: var(--muted);
}

#footer_top .addres {
  flex: 1;
}

#footer_top .footer_nav {
  flex: 3;
}

.footer_nav {
  display: flex;
  justify-content: space-around;
}

.nav_shop h3,
.nav_guide h3,
.nav_about h3 {
  padding-bottom: 8px;
}

.nav_shop ul,
.nav_guide ul,
.nav_about ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#footer_bottom {
  border-top: 1px solid var(--line);
  padding-top: var(--space-mid);
  display: flex;
  justify-content: space-between;
}

#footer_bottom .legal {
  padding-bottom:40px;
  display: flex;
  gap: 8px;
  color: var(--muted);
}


/* チャットアイコン */

.chat_button {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom:20px;
  right: 20px;
  z-index: 999;
}

.chat_button a {
  width: 50px;
  height: 50px;
}

.chat_button a img {
  display: block;
  width: 100%;
  height:100%;
}

/* メディアクエリ */

@media (max-width: 976px) {
  
  #main_hero .main_visual_contents h1 {
      min-width: 324px;
      font-size: 1.6rem;
    }
  
.newArrival_box {
  grid-template-columns: repeat(3, 1fr);
  }
} 

  .feature_img {
    flex:2;
  }

  .feature_content {
    flex: 1;
  }

@media (max-width: 767px) {

  /* common */

  :root {
    --space: 16px;
    --space-min12: 8px;
    --space-mid: 12px;
    --header-height: 56px;
    --space-section: 64px;/* セクション間 */
  }

  /* header */

  .header_left {
    flex-direction: row-reverse;
    margin-left: 30px;
    justify-content: space-between;
    flex: 2;
  }

  #header_scriptions {
    flex: 1;
  }

  .hamburger {
    display: block;
  }

  .header_left a img {
    width: 200px;
  }


  #category_menu {
    display: none;
  }
/* ハンバーガーメニュー */

    .hamburger-contents {
      display: block;
      /* transform: translateX(0);*/  /* 表示テスト用なので普段は非アクティブ */
    }

  .hamburger-contents.active {
      transform: translateX(0);
    }

  /* main visual */

  #main_hero .main_visual_contents {
    padding: 12px 16px 0px 16px;
    width: auto;
    left: 3%;
  }


  .newArrival_item a img {
    height: 320px;
  }

  .scroll_button {
    display: none;
  }

  /* newarrival */

    .newArrival_box {
  grid-template-columns: repeat(2, 1fr);
  }

  /* category */

  .category_box {
    flex-direction: column;
  }

  /* feature */

  .feature_img {
  height:280px ;
}

  #feature .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .feature_text h2 br {
    display: none;
  }

  /* footer */

  .footer_top_flex {
    flex-direction:column-reverse;
    padding-top: var(--space);
  }

  .footer_nav {
  flex-direction:column;
  gap: var(--space-min);
  }

  .nav_shop,
  .nav_guide,
  .nav_about {
    border-top: 1.5px solid var(--line);
    padding-top: var(--space-min);
    padding-bottom: var(--space-mid);
  }
  
  .nav_shop h3,
  .nav_guide h3,
  .nav_about h3 {
  padding-bottom: 0px;
}
  .addres {
    border-top: 1.5px solid var(--line);
    padding-top: var(--space-min);
    padding-bottom: var(--space-mid);
  }

  .legal a {
    display: none;
  }

}
